h2{
	text-align: center;
	margin-bottom: 20px;
}

#popular-button{
	text-align: center;
	margin-top: 20px;
}


.header {
	background: #000000;
	color: rgb(240, 255, 0);
	height: 70px;
	margin-top: 0px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 66px;
	box-shadow: 0px 5px 5px rgb(201, 201, 201);
}

.h_image_container{
	padding-left: 102px;
	padding-top: 0px;
	margin-top: -15px;
	margin-left: -82px;
	padding-bottom: 0px;
	margin-bottom: -25px;
	height: 154px;	
}

.header-image{
	width: 69px;
	height: 74px;
}

.h_title_container{
	margin-top: -5px;	
	padding-left: 0px;
}

.web_header_title{
	font-size: 36px;
	font-family: 'Kalam', cursive;
}

.my_list{
	list-style: none;
	position: relative;
	margin-left: -70px;
}

.menu_bar_item{
	line-height: 57px;
	display: block;
	float: left;
	margin-left: 82px;	
	font-family: 'Jura', sans-serif;
	font-weight: bold;
	font-size:16px;
}

.my_header_links{
	color: rgb(240, 255, 0);
	text-decoration:none !important;
	
}
	
.bar_container{
	height: 40px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-top: 18px;
	margin-bottom:0px;
	margin-top:-82px;
}

.bar_pic{
	width: 100%;
	height:35%;	
}

.pic_list{
	position:absolute;
	height:450px;
	width:inherit;
	margin-top: 0px;
}

.center_list{
	list-style-type: none;
	width:100%;
	height:450px;
	margin: 0;
    padding: 0;
	overflow:hidden;
}

.pic_element{
	width:inherit;
	height:100%;	
	float:left;
	margin-top: 0px;
  	margin-bottom: 0px
}

.pic_element img{
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 1199px){
	#header_menu_bar{
		margin-left: -90px;
	}
	.menu_bar_item{
		margin-left: 58px;
	}
}

@media only screen and (max-width: 991px){
	.web_header_title{
		font-size:29px;		
	}
	.h_image_container{ 
		display:none;	
	}
	.h_title_container{
		margin-right: 0px;
		padding-right:0px;	
	}
	.h_list_container{
		margin-left: 0px;
		padding-right: 0px;
		width: 75%;
	}
	.bar_container {
		margin-top:-25px;
	}
}

@media only screen and (max-width: 767px){
	.h_image_container{
		display:none;	
	}
	.h_title_container{
		text-align: center;	
	}
}