h2{
	text-align: center;
	margin-bottom: 20px;
}

#popular-button{
	text-align: center;
	margin-top: 20px;
}

.row{
	width: 100%;
	margin-left: 0;
	padding: 10px;
}

hr{
	width: 50%;
	border: 1px groove;
	margin-top: 50px;
	margin-bottom: 50px;
}

img{
	width: 350px;
	height: 350px;
}
