@charset "utf-8";
/* CSS Document */
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
	  height: 600px;
      margin: auto;
  }
  
.header-container {
	width: 100%;
    padding: 0;
}

.carousel-actions {
	visibility: hidden;	
}

.beast-header {
	background: rgba(17, 17, 17, 0.498039);
    position: fixed;
    z-index: 1;
    height: 68px;
    width: 100%;	
}

h1 {
	color: yellow;
	font-family: 'Sigmar One', cursive;
	margin: 14px;
	margin-top: 5px;
}

h4 {
	color: yellow;
	font-family: 'Crimson Text', serif;	
	margin: -19px;
}
.menu {
  left: -285px; 
  height: 100%;
  position: fixed;
  width: 285px;
  z-index: 2;
  background-color: black;
}

.menu ul {
	border-top: 1px solid #636366;
  	list-style: none;
  	margin: 0;
  	padding: 0;
}

.menu li {
	color: white;
	border-bottom: 1px solid #636366;
	line-height: 45px;
  	padding-bottom: 3px;
  	padding-left: 20px;
  	padding-top: 3px;
}

.close-icon img {
	cursor: pointer;
	width: 50px;
    height: 52px;
}

.menu-icon {
	cursor: pointer;
	position: fixed;
    color: yellow;
    font-family: 'Sigmar One', cursive;
    margin-left: 50px;
	
}